.title-bar {
    background-color: #7c3392;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
}

.preformatted-pagetitle {
    color: white;
    margin-bottom: 0;
}

.flex-parent {
    display: flex;
    height: 600px;
    background: url(svg-backgrnd.svg);
}

.flex-child {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    background-color: lightgray;
}

.copy-button {
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
}

.code-display {
    padding: 1.5rem;
    position: relative;
    background-color: lightGray;
}

.box-1 {
    min-height: 100px;
    min-width: 200px;
}
.box-2 {
    min-height: 150px;
    min-width: 150px;
}
.box-3 {
    min-height: 200px;
    min-width: 100px;
}
