.flex-child {
    box-sizing: border-box;
    min-height: 1px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
    outline: silver solid 1px;
    background: rgba(0, 0, 0, 0.05);
    line-height: 32px;
    flex: 0 0 25%;
    max-width: 25%;
    margin-left: 0%;
    right: auto;
    left: auto;
}

.flex-container {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    background: rgba(128, 128, 128, 0.05);
    height: 300px;
}